* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

/*------Start_Header----*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(./images/donation13.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 90px;
    font-weight: 700px;
}

.text-box p {
    font-size: 35px;
    margin: 30px 0 200px;
}

.header-button {
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 20px 40px;
    font-size: 35px;
    position: relative;
}

/*------End_Header----*/

/*------Start_Donate----*/

.donate {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate h1 {
    font-size: 60px;
    font-weight: 700;
}

.donate p {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px;
}

.money-row {
    margin: 5% 20% 5% 20%;
    display: flex;
    justify-content: space-between;
}

.add-tk {
    width: 175px;
    height: 125px;
    background: #FAFAFA;
    padding: 45px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.color {
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
}

.add-tk h2 {
    font-size: 30px;
    font-weight: 900;
}

.other {
    margin: 0% 20% 3% 20%;
}

.money-button {
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 20px 40px;
    font-size: 35px;
    position: relative;
}

/*------End_Donate----*/

/*------Start_Donate Plan----*/

.donate-plan {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.donate-plan h1 {
    font-size: 60px;
    font-weight: 700;
}

.donate-plan p {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px;

}

.donate-box {
    margin: 5% 5% 0% 5%;
    display: flex;
    justify-content: space-between;

}

.donate-box img {
    width: 100px;
}

.donate-box h1 {
    margin-top: 20%;
    font-size: 35px;
}

.donate-box p {
    font-size: 20px;
}

.box1 {
    background: #EDF5F6;
    border-radius: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.box2 {
    margin-left: 2%;
    background: #FFEEEE;
    border-radius: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
}

.box3 {
    margin-left: 2%;
    background: #FFF4D6;
    border-radius: 10px;
    padding: 30px 20px;
    box-sizing: border-box;
}

/*------End_Donate----*/


/*------Start_Work----*/

.flexiable {
    display: flex;
    width: 80%;
    margin: auto;
    text-align: left;
    padding-top: 100px;

}

.flexiable h1 {
    font-size: 50px;
}

.flexiable h2 {
    font-size: 30px;
    padding-top: 30px;
}

.name-color {
    color: orange;
}

.left-width {
    width: 50%;
}

.right-width {
    width: 50%;
}

.right-width img {
    width: 100%;
    border-radius: 5px;
}

.button {
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    padding: 20px 30px;
    font-size: 25px;
    position: relative;

}

.continer {
    padding: 20px;
    text-align: justify;
    margin: 10px;

}


/*------End_Work----*/

/*------Start_Donate Updates----*/
.updates {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.updates h1 {
    font-size: 60px;
    font-weight: 700;
}

.updates p {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    padding: 20px;

}

.get-box {
    margin: 3% 10% 5% 10%;
    width: 80%px;
    height: 300px;
    background: #FFF4D6;
    padding: 45px 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.email-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 15% 5% 15%;
    width: 70%px;
    height: 80px;
    background: #D9D9D9;
    color: darkgrey;
    padding: 45px 30px;
    border-radius: 5px;
    box-sizing: border-box;

}

.text-color {
    color: #FF5959;

}


/*------End_Donate Updates----*/


/*------Start_Footer----*/
.footer {
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}

footer h1 {
    color: red;
    margin: 0px;
    font-size: 50px;
    font-weight: 700;
}

footer p {
    font-size: 20px;
    font-weight: 400;

    padding: 20px;
}

/*------End_Footer----*/